<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <title></title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

  <style>
    @media only screen and (min-width: 768px) {
      .resp {
        width: 75%;
      }
    }

    @media only screen and (min-width: 992px) {
      .resp {
        width: 50%;
      }
    }

    .color-gray-600 {
      color: #718096
    }

    .bgcolor-gray-700 {
      background-color: rgb(74, 85, 104, 1);
    }

    .bgcolor-gray-200 {
      background-color: rgb(226, 232, 240, .75);
    }
  </style>
</head>

<body class="bgcolor-gray-200 " style="font-family: 'Roboto';">
  <div class="flex flex-wrap">
    <div class=" mx-auto mb-1 mt-10 px-1 sm:px-2 md:px-4 pt-4 resp" style="background-color: white;">
      <div class=" w-full mr-auto mb-1 px-6 mt-6">
        <div class="flex flex-row">
          <div>
            <img src="https://img.icons8.com/material/50/000000/person-at-home.png" />
          </div>
          <div>
            <p class="text-2xl font-medium mt-4 ml-1 text-gray-900">Stay</p>
          </div>
        </div>
      </div>
      <div class="w-full mr-auto mb-1 px-6">
        <div class="text-2xl font-semibold">Booking Cancellation</div>
        <div class="text-xs font-normal color-gray-600">Your reservation is now cancelled
        </div>
      </div>
      <div class="w-full mr-auto mb-1 px-6 py-6">
        <p style="font-family:roboto" class="text-xl font-normal leading-relaxed text-gray-800 antialiased"> Hey
          {{userName}},<br>Your booking has been cancelled <span class="text-xl">✘</span>
        </p>
      </div>
      <div class="w-full mr-auto mt-2 px-6">
        <div class="text-2xl font-semibold">Booking Details</div>
      </div>
      <div class="w-full mr-auto mb-1 px-6 py-6">

        <div class="flex mb-4">
          <div class="w-1/2 color-gray-600">Booking Id</div>
          <div class="w-1/2 text-right break-all">{{book_id}}</div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/2 color-gray-600">Booked By</div>
          <div class="w-1/2 text-right break-all">{{userName}}</div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/2 color-gray-600">Hotel</div>
          <div class="w-1/2 text-right break-all">{{hotelName}}</div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/2 color-gray-600">Address</div>
          <div class="w-1/2 text-right break-all">{{address}}</div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/2 color-gray-600">Room Type</div>
          <div class="w-1/2 text-right break-all">{{type}}</div>
        </div>
        <div class="flex mb-4">
          <div class="w-1/2 color-gray-600">Hotel Contact</div>
          <div class="w-1/2 text-right">{{phone}}</div>
        </div>

      </div>
      <div class="w-full mx-auto mb-1 px-6 py-1">

        <hr style="border-color:#e2e8f0">
      </div>
      <div class="w-full mx-auto px-6 py-1">
        <div class="flex mb-4 text-center">
          <div class="w-2/5 ">
            <p class="color-gray-600"> CHECK-IN</p>
            <p class="font-medium text-lg">{{checkin}}</p>
          </div>
          <div class="w-1/5 color-gray-600"><br>&gt;&gt;&gt;&gt;</div>
          <div class="w-2/5 ">
            <p class="color-gray-600">CHECK-OUT</p>
            <p class="font-medium text-lg">{{checkout}}</p>
          </div>
        </div>
      </div>
      <div class="w-full mx-auto mb- px-6 py-1">
        <hr style="border-color:#e2e8f0">
      </div>
      <div class="w-full mx-auto mb-4 px-6 py-1">
        <img class="mx-auto" src="https://cdn.coronasafe.network/break-chain.png" width="150px">
      </div>
      <div class="-ml-4 -mr-4 bgcolor-gray-200 bg-opacity-75 py-2">
        <a href="https://coronasafe.network/"><img class="mx-auto"
            src="https://cdn.coronasafe.network/coronaSafeLogo.png" width="130px" alt="coronaSafeLogo">
      </div>
    </div>


  </div>
</body>

</html>